{{vm.state}}

<div ng-if="vm.opponent.library">cards in opponent library: {{vm.opponent.library.cards}}</div>
<div ng-if="vm.opponent.hand">cards in opponent hand: {{vm.opponent.hand.cards}}</div>

<div ng-if="vm.battlefield && vm.opponent.battlefield">
<div>BattleField</div>
<div>
	<p>opponent</p>
  <wd-game-card card="card" ng-repeat="card in vm.opponent.battlefield.cards"/>
</div>
<div>
	<p>{{vm.life}} x {{vm.opponent.life}}</p>
	<md-button ng-click="vm.changeLife('+1')">+</md-button>
	<md-button ng-click="vm.changeLife('-1')">-</md-button>
</div>
<div>
	<p>my <md-button ng-click="vm.untapAll()">untap all</md-button></p>
	<wd-game-card placement="battlefield" card="card" ng-repeat="card in vm.battlefield.cards"/>
</div>
</div>

<div ng-if="vm.library">
  <p>cards in library: {{vm.library.cards}}</p>
  <md-button ng-click="vm.draw()">Draw</md-button>
  <md-button ng-click="vm.searchLibrary()">Search in Library</md-button>
</div>

<div class="hand" ng-if="vm.hand">
  <wd-game-card placement="hand" card="card" ng-repeat="card in vm.hand.cards"/>
</div>