<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
    <base href="/">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!-- build:css(static) /css/styles.css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endbuild -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    
    <!-- build:js(static) /js/app.js -->
    <script type="text/javascript" src="/js/ui-bootstrap-0.10.0.min.js"></script>
    <script type="text/javascript" src="/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>
    <script type="text/javascript" src="/js/cards.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
    <script type="text/javascript" src="/js/deck-manager.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/tournament.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- endbuild -->

    <script src="//apis.google.com/js/client.js?onload=init"></script>
  </head>
  <body>
    <div id="page-bg">
      <img src="/images/bg-planeswalkers.jpg">
    </div>
    <div ng-controller="headerCtrl">
      <div id="loading-wrapper">
        <div id="loading-sign" ng-show="loading"><p>loading</p></div>
      </div>
      <header>
        <div id="logos">
          <div id="logo" class="logo">
          </div>
          <p id="logo-text">Duels</p>
          <div id="logo-mtg" class="logo">
          </div>
        </div>
        <div id="user-info" ng-show="loggedIn">
          <p>{{"{{user.name}}"}}</p>
          <img class="user-image" ng-src="{{"{{user.imageUrl}}"}}" alt="{{"{{user.name}}"}}" title="{{"{{user.name}}"}}">
        </div>
        <nav ng-show="!loggedIn && !loading">
          <a href="{{ login_url }}">Login</a>
        </nav>
      </header>
      <div id="cards-holder" ng-view>
      </div>
    </div>
  </body>
</html>
