<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/js/ui-bootstrap-0.10.0.min.js"></script>
    <script type="text/javascript" src="/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
  </head>
  <body>
    <form action="/backend/importer" method="post">
      <input type="submit" value="re importar">
    </form>
  </body>
</html>
